.page-container > .about-page-display > article > .heading {
    font-family: var(--ff-heading);
    font-weight: bold;
    font-size: 4rem;
    color: var(--text-page-primary);
}

.page-container > .about-page-display > article > .profile-image-container {
    position: relative;
    height: 18rem;
    width: 100%;
}


.page-container > .about-page-display > article > .profile-image-container > .profile-image {
    z-index: -11;
    pointer-events: none;
    height: calc(100% + 20rem);
    width: calc(100% - 24rem);
    object-fit: cover;
    position: absolute;
    left: 24rem;

    filter: brightness(120%) contrast(90%);
}


.page-container > .about-page-display > article > .profile-image-container::after {
    content: "";
    z-index: -11;
    pointer-events: none;
    height: calc(100% + 20rem);
    width: calc(100% - 24rem);
    object-fit: cover;
    position: absolute;
    left: 24rem;

    background-color: var(--highlight-color-primary);
    mix-blend-mode: multiply;
    
}

.page-container > .about-page-display > article > .subheading {
    font-family: var(--ff-heading);
    font-size: 2.75rem;
    color: var(--text-page-secondary);
}

.page-container > .about-page-display > article > .content {
    font-family: var(--ff-content);
    font-size: 1rem;
    color: var(--text-page-secondary);

    line-height: 1.75;
}

.page-container > .about-page-display > article > .cta-buttons {
    display: flex;
    gap: 3rem;
}

.page-container > .about-page-display > article > .cta-buttons > .cta-primary {
    font-size: 1rem;
    font-family: var(--ff-content);
    padding: 0.75rem;
    background-color: var(--text-page-secondary);
    color: var(--bg-page);
    text-transform: uppercase;
    border: 0;
    transition: padding 1s ease;
}

.page-container > .about-page-display > article > .cta-buttons > .cta-primary:hover {
    background-color: var(--text-page-primary);
    padding: 0.75rem 3rem;
}

.page-container > .about-page-display > article > .cta-buttons > .cta-secondary:hover {
    background-color: var(--bg-explorer-item-active);
    color: var(--nav-item-icon-fill-active);
    padding: 0.75rem 3rem;
}

.page-container > .about-page-display > article > .cta-buttons > .cta-secondary {
    font-size: 1rem;
    font-family: var(--ff-content);
    padding: 0.75rem;
    background-color: transparent;
    color: var(--nav-item-icon-fill);
    text-transform: uppercase;
    border: 0;
    transition: padding 1s ease;

}


@media screen and (max-width: 600px) {
    .page-container > .about-page-display > article > .profile-image-container {
        height: 12rem;
    }

    .page-container > .about-page-display > article > .profile-image-container > .profile-image,
    .page-container > .about-page-display > article > .profile-image-container::after {
        height: calc(100% + 3rem);
        width: 100%;
        left: 0;
        object-position: 50% 25%;
    }

    .page-container > .about-page-display > article > .heading {
        font-size: 2.75rem;
    }
    .page-container > .about-page-display > article > .subheading {
        font-size: 2rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {

    .page-container > .about-page-display > article > .heading {
        font-size: 3.75rem;
    }
    .page-container > .about-page-display > article > .subheading {
        font-size: 2.75rem;
    }
}