.badge-container {
    position: relative;
}

.badge-container > .badge {
    position: absolute;

    border-radius: 2rem;
    pointer-events: none;

    min-height: 5%;
    min-width: 5%;
    padding: 0.5rem;
    color: var(--nav-item-icon-fill-active);
    white-space: nowrap;

    font-family: var(--ff-heading);
    font-size: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9;
    animation: scaleUp 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.badge-container > .badge > svg {
    fill: var(--nav-item-icon-fill-active);

    width: 0.5rem;
    height: 0.5rem;
}


.badge-container > .badge.alert {
    background-color: var(--highlight-color-primary);
   
}

.badge-container > .badge.top {
    bottom: 55%;
}

.badge-container > .badge.bottom {
    top: 55%;
}

.badge-container > .badge.left {
    right: 55%;
}

.badge-container > .badge.right {
    left: 55%;
}

@keyframes scaleUp {
    0% {
        transform: scale(0%);
    }
    100% {
        transform: scale(100%);
    }
}

