:root{

    --text-page-primary: #f3f3f3;
    --text-page-secondary: #e0e1e7;
    --text-page-tertiary: rgba(56,58,61,0.35);

    --bg-page: #222529;
    --bg-nav: #1f2428;
    --bg-explorer: #202427;

    --bg-border: #384043;

    --bg-explorer-item-hover: #282c30;
    --bg-explorer-item-active: #363a3e;

    --nav-item-icon-fill: #b7b7b7;
    --nav-item-icon-fill-active: #f3f3f3;

}