:root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

:root::before {
    content: "";
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;

    background-color: rgb(228, 141, 64);
    background-image: url("/src/assets/background.png");
    background-size:     cover;             
    background-repeat:   no-repeat;
    background-position: center center; 

    filter: saturate(70%);
}


html[data-initial='true'] {
    font-size: 11px;
}

