:root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: #3b439e;

    /* background-image: url("/src/assets/background.webp");
    background-size:     cover;             
    background-repeat:   no-repeat;
    background-position: center center;  */
}


html[data-initial='true'] {
    font-size: 9px;
}

