.page-container > .contact-page-display {
    overflow: auto;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 0.5rem;
}

.page-container > .contact-page-display > .heading {
    position: relative;
    font-family: var(--ff-heading);
    font-weight: bold;
    font-size: 4rem;
    color: var(--text-page-primary);

    white-space: nowrap;
    max-width: 100%;
    padding-bottom: 1rem;
}

.page-container > .contact-page-display > .contacts {
    display: flex;
    height: 100%;
    width: 100%;

    gap: 1rem;

    margin-bottom: 2rem;
}

.page-container > .contact-page-display > .contacts > .card.form:hover {
    background-color: var(--bg-page);
}

.page-container > .contact-page-display > .contacts > .card.form {
    flex-grow: 1;
    max-width: 32rem;
}

.page-container > .contact-page-display > .contacts > .card.form > .card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 4rem 1fr 2.5rem;
    gap: 1.75rem;

    height: 100%;
    padding: 2rem;
}

.page-container > .contact-page-display > .contacts > .card.form > .card-content > .input:nth-child(3),
.page-container > .contact-page-display > .contacts > .card.form > .card-content > .textarea {
    grid-column: span 2;
}

.page-container > .contact-page-display > .contacts > .card.form > .card-content > .textarea > textarea{
  height: 100%;
}

.page-container > .contact-page-display > .contacts > .socials {
    flex-shrink: 1;

    display: flex;
    flex-direction: column;

    gap: 1.75rem;
    margin: 0 9rem 0rem 2rem;
}

.page-container > .contact-page-display > .contacts > .socials > h6 {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: var(--ff-heading);
    color: var(--text-page-secondary);
}

.page-container > .contact-page-display > .contacts > .socials > ul > li::before {
    content: "";
    background-color: var(--bg-explorer-item-hover);
    z-index: -1;
    position: absolute;
    width: 3rem;
    height: 1.25rem;
    bottom: 0;
    top: -0.25rem;
    left: -1rem;

    transition: width 0.7s ease, height 0.7s ease;
}

.page-container > .contact-page-display > .contacts > .socials > ul > li:hover::before {
    width: 1.25rem;
    height: 2.25rem;
}

.page-container > .contact-page-display > .contacts > .socials > ul {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    line-height: 1.75;

    margin-left: 6rem;
}

.page-container > .contact-page-display > .contacts > .socials > ul > li {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

}

.page-container > .contact-page-display > .contacts > .socials > ul > li > a {
    font-family: var(--ff-content);
    text-transform: uppercase;
    color: var(--text-page-secondary);
    text-decoration: none;
}

@media screen and (max-width: 600px) {

    .page-container > .contact-page-display > .heading {
        text-align: center;
        font-size: 2.75rem;
        width: 100%;
        margin-bottom: 0.75rem;
        padding-bottom: 1.75rem;
    }

    .page-container > .contact-page-display > .contacts > .card.form {
        max-width: 100%;
    } 
    .page-container > .contact-page-display > .contacts  {
        flex-direction: column-reverse;
        gap: 2rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {

    .page-container > .contact-page-display > .heading {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .page-container > .contact-page-display > .contacts  {
        flex-direction: column;
        gap: 2rem;
    }

    .page-container > .contact-page-display > .contacts > .card.form {
        max-width: 100%;
    } 
}