.page-container > .home-page-display {
    position: relative;

    color: var(--text-page-primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    gap: 1rem;
    padding: 2rem 6rem;
}

.page-container > .home-page-display::before {
    content: "";
    background-color: var(--bg-explorer);
    position: absolute;
    width: 24rem;
    height: 36rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    border-radius: 2rem;
    animation: rotate;
    animation-duration: 8s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
}

.page-container > .home-page-display > .heading {
    position: relative;
    margin-right: auto;
    z-index: 3;

    font-size: clamp(6rem, 10vw, 9rem);
    font-family: var(--ff-heading);
    font-weight: bold;
    text-transform: lowercase;
    white-space: nowrap;
    margin-left: -0.2rem;

    
    animation: none;
}

.page-container > .home-page-display > .heading:hover::before {
    right: -2%;
    transition: right 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.page-container > .home-page-display > .heading::before {
    content: "";
    background-color: var(--bg-border);
    z-index: -2;
    left: -2%;
    position: absolute;
    bottom: 0;
    top: 60%;

    right: 102%;
}

.page-container > .home-page-display > .sub-heading {
    z-index: 3;
    max-width: 62ch;
    line-height: 1.5;
    font-size: clamp(0.75rem, 1.375vw, 1rem);
    font-family: var(--ff-content);
    letter-spacing: 0.2rem;
    color: var(--text-page-secondary);
    text-transform: uppercase;
}

.page-container > .home-page-display > .cta-buttons {
    display: flex;
    gap: 3rem;
}

.page-container > .home-page-display > .cta-buttons > .cta-primary:hover,
.page-container > .home-page-display > .cta-buttons > .cta-secondary:hover  {
    padding: 0.75rem 3rem;
}

.page-container > .home-page-display > .cta-buttons > .cta-secondary,
.page-container > .home-page-display > .cta-buttons > .cta-primary {
    transition: padding 0.7s ease;
    padding: 0.75rem;
}

@keyframes rotate {
    0% {
        transform: rotate(-90deg); 
    }
    100% {
        transform: rotate(90deg); 
    }
}