.theme-page {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    gap: 1rem;
}

.theme-page > .themes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;

    gap: 2rem;
    height: auto;

}

.theme-page > h1 {
    position: relative;
    font-family: var(--ff-heading);
    font-weight: bold;
    font-size: 4rem;
    color: var(--text-page-primary);

    margin-bottom: 2rem;
}

.theme-page > .themes > .card {
    cursor: pointer;
    min-width: 12rem;
    min-height: 12rem;
}

.theme-page > .themes > .card > .card-content > .accents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    cursor: auto;

    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: 5rem;
    place-items: center;
}

.theme-page > .accents {
    display: flex;
    gap: 4rem;
}

.theme-page > .subheading  {
    font-size: 2.25rem;
}

.theme-page > .accents > .card > .card-content > .wrapper > .color,
.theme-page > .accents > .card {
    width:  2.25rem;
    height: 2.25rem;

    border-radius: 100%;
    cursor: pointer;

    transition: border-radius 1.3s  cubic-bezier(0.075, 0.82, 0.165, 1);
}

.theme-page > .accents > .card > .card-content > .wrapper > .color:hover,
.theme-page > .accents > .card:hover {
    transform: scale(1.05);
}

.theme-page > .accents > .card > .card-content > .wrapper > .color.blue {
    background-color: var(--accent-color-blue);
}

.theme-page > .accents > .card > .card-content > .wrapper > .color.purple {
    background-color: var(--accent-color-purple);
}

.theme-page > .accents > .card > .card-content > .wrapper > .color.red {
    background-color: var(--accent-color-red);
}

.theme-page > .accents > .card > .card-content > .wrapper > .color.yellow {
    background-color: var(--accent-color-yellow);
}


.theme-page > .themes > .card > .card-content > .wrapper,
.theme-page > .themes > .card > .card-content {
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
}

.theme-page > .themes > .card > .card-content > .wrapper > div {
    font-family: var(--ff-heading);
    font-size: 1.5rem;
}


@media screen and (max-width: 900px) {
    .theme-page > h1 {
        font-size: 2.75rem;
    }
    .theme-page > .themes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .theme-page > .themes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1536px) {
    .theme-page > .themes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}