.card {
    border: 0.1rem solid var(--bg-border);
    color: var(--text-page-secondary);
}

.card:hover {
    background-color: var(--bg-explorer-item-hover);
}

.card > .card-content {
    font-size: 1rem;
}