.projects-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}


.projects-page > .heading {
    position: relative;
    font-family: var(--ff-heading);
    font-weight: bold;
    font-size: 4rem;
    color: var(--text-page-primary);
    text-transform: uppercase;
    text-decoration: none;

    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projects-page > .projects {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}


.projects-page  > .projects > .tooltip-wrapper > .card.project {
    height: 16rem;
}

.projects-page  > .projects > .tooltip-wrapper > .card.project > .card-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    color: var(--text-page-secondary);
    text-decoration: none;
    gap: 0.75rem;
    padding: 2rem
}

.projects-page  > .projects > .tooltip-wrapper > .card.project > .card-content > .icon {
    height: 100%;
    overflow: hidden;
    max-width: 12rem;
    min-width: 6rem;
    flex: 1;

    border-radius: 0.75rem;
}

.projects-page  > .projects > .tooltip-wrapper > .card.project > .card-content > .content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    flex: 1;
}


.projects-page  > .projects > .tooltip-wrapper > .card.project > .card-content > .content > h6,
.projects-page  > .projects > .tooltip-wrapper > .card.project > .card-content > .content > h6 > a {
    font-size: 1.5rem;
    font-family: var(--ff-heading);
    color: var(--nav-item-icon-fill);
    text-transform: lowercase;
    font-weight: bold;
    font-size: 1.75rem;
    text-decoration: none;

    white-space: nowrap;
}


.projects-page  > .projects > .tooltip-wrapper > .card.project > .card-content > .content > h6 > a:hover {
    color: var(--nav-item-icon-fill-active);
}
