.tooltip-wrapper {
    position: relative;
}

.tooltip-wrapper:hover > .tooltip {
    animation-name: popUp;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    display: block;
}

.tooltip {
    position: absolute;
    z-index: 99;

    font-size: 0.875rem;
    font-weight: normal;

    background-color: var(--bg-nav);
    color: var(--nav-item-icon-fill);
    border: 0.075rem solid var(--bg-border);
    border-radius: 0.25rem;
    padding: 0.5rem;

    text-align: center;
    white-space: nowrap;

    display: none;
}

.tooltip.right {
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 0.5rem;
}

.tooltip.left {
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    margin-right: 0.5rem;
}

.tooltip.bottom {
    top: 100%;
    transform: translateX(50%);
    right: 50%;
    margin-top: 0.75rem;
}

.tooltip.top {
    bottom: 100%;
    transform: translateX(50%);
    right: 50%;
    margin-bottom: 0.75rem;
}

@keyframes popUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}