.pan-img {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: 300%;

    animation: pan 20s infinite cubic-bezier(0.75, 0.1, 0.24, 0.98);
    animation-play-state: running;
}

.pan-img:hover {
    background-position: 0% 50% !important;
    animation-play-state: paused;
    background-size: 100% !important;

}

@keyframes pan {
    0% {
        background-position: 22% 12%;
        background-size: 250%;
    }
    33% {
        background-position: 10% 30%;
        background-size: 270%;
    }
    33.01% {
        background-position: 90% 90%;
        background-size: 270%;
    }
    66% {
        background-position: 42% 82%;
        background-size: 310%;
    }
    66.01% {
        background-position: 10% 0%;
        background-size: 170%;
    }
    100% {
        background-position: 70% 70%;
        background-size: 170%;
    }
}

@keyframs still {
    background-position: 0% 0%;
    background-size: 100%;
    transition: all 5s ease-in;
}